@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    background-color: rgb(20, 20, 20);
    font-size: 1em;
}

.cabecalho {
    display: flex;
    padding: 2em;
    background-color: rgb(20, 20, 20);
    justify-content: space-between;
    align-items: center;
}

.cabecalho h1 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
}

.cabecalho h1:hover {
    cursor: default;
}

.cabecalho h2 {
    font-size: 1.5em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
}

.cabecalho span {
    font-size: 1em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
}

.cabecalho span:hover {
    color: aqua;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: aqua;
    color:aquamarine;
}

a:hover {
    text-decoration: none;
    color: aqua;
}

a:active {
    text-decoration: none;
    font-size: 1.2em;
    color: aquamarine;
}

.main {
    display: flex;
    font-family: "Pixelify Sans", sans-serif;
    background-color: aliceblue;
    padding: 4em 6em 4em 6em;
    height: auto;
    min-height: 40em;
    justify-content: space-evenly;
    text-align: center;
}

.main span {
    background-color: aliceblue;
}

.main h2 {
    font-size: 1.5em;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(20, 20, 20);
    background-color: aliceblue;
}

.resumo {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em;
    background-color: aliceblue;
}

.resumo img {
    height: 140px;
    width: 140px;
    object-fit: contain;
    margin-bottom: 1em;
    background-color: aliceblue;
}

.versiculo {
    font-size: larger;
    color:#0097a7;
    margin: 1em;
}

.descricao {
    color: rgb(20, 20, 20);
    word-wrap: break-word;
    width: 200px;
}

.rodape {
    display: flex;
    padding: 2em;
    background-color: rgb(20, 20, 20);
    justify-content: center;
}

.rodape img {
    height: 6em;
    width: auto;
}