@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1em;
}

nav {
    display: flex;
    padding: 20px 10%;
    background-color: rgb(20, 20, 20);
    justify-content: space-between;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
}

nav img {
    width: 64px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav h1 {
    font-size: 3em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
    margin-left: 20px;
}

nav h1:hover {
    cursor: default;
}

nav h2 {
    font-size: 1.5em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
}

nav span {
    font-size: 1em;
    font-family: "Pixelify Sans", sans-serif;
    color: aliceblue;
    margin-left: 20px;
}

nav span:hover {
    color: aqua;
    cursor: pointer;
}

nav a:link {
    color: aliceblue;
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
}

.sub-menu-wrap {
    position: absolute;
    top: 17vh;
    right: 8%;
    border-radius: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.sub-menu-wrap.open-menu{
    max-height: 1000px;
}

.sub-menu {
    background: rgb(20, 20, 20);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
    border: 1px solid aliceblue;
    padding: 1em;
    margin: 5px;
    border-radius: 10px;
}

.sub-menu img {
    width: 32px;
    border-radius: 40%;
}

.sub-menu img:first-child {
    background-color: aliceblue;
}

.main {
    display: flex;
    font-family: "Pixelify Sans", sans-serif;
    background-color: aliceblue;
    padding: 3rem 6rem;
    height: auto;
    min-height: 40em;
    justify-content: space-evenly;
    text-align: center;
}

.main span {
    background-color: aliceblue;
}

.main h2 {
    font-size: 1.5em;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(20, 20, 20);
    background-color: aliceblue;
}

.resumo {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em;
    background-color: aliceblue;
}

.resumo img {
    height: 140px;
    width: 140px;
    object-fit: contain;
    margin-bottom: 1em;
    background-color: aliceblue;
}

.versiculo {
    font-size: larger;
    color:#0097a7;
    margin: 1em;
}

.descricao {
    color: rgb(20, 20, 20);
    word-wrap: break-word;
    width: 200px;
}

.texto {
    background-color: aliceblue;
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-items: center;
    justify-content: baseline;
    text-align: justify;
}

.texto h1 {
    font-size: 3em;
    margin: 2rem 0;
    text-align: left;
}

.texto p {
    font-size: 1.45em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.texto img {
    height: 120px;
}

.rodape {
    display: flex;
    padding: 2em 2em 0 2em;
    background-color: rgb(20, 20, 20);
    justify-content: center;
}

.rodape img {
    height: 6em;
    width: auto;
}

.autoria {
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    text-align: center;
    padding-bottom: 2em;
}

@media (max-width: 670px) {
    .cabecalho {
        align-items: right;
    }

    .cabecalho span {
        margin-top: 1em;
    }

    .cabecalho h2 {
        margin-top: 1em;
    }

    nav h1 {
        overflow: hidden;
        visibility:collapse;
    }

    nav ul {
        text-align: right;
    }

    .sub-menu-wrap {
        right: 2px;
        top: 105px;
    }

    .main {
        flex-flow: column;
        justify-content: flex-start;
        padding: 1.5em;
    }

    .texto h1 {
        font-size: 2.5em;
        text-align: center;
    }

    .texto p {
        line-height: 1.5em;
    }
  }
  